<?xml version="1.0"?>
<configuration>            
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect HTTP to HTTPS -->
        <rule name="Redirect HTTP to HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            <add input="{HTTP_HOST}" pattern="127\.0\.0\.1" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="SeeOther" />
        </rule>
        <!-- Fireshield rewrite rules -->
        <rule name="FS Create Account API call" patternSyntax="ExactMatch">
          <match url="api/fireshield/v2/createUser/"/>
          <action type="Rewrite" url="index.php?r=fsUser/apiCreate"/>
        </rule>
        <rule name="FS Check Carrier Code API Call" patternSyntax="ExactMatch">
          <match url="api/fireshield/v2/checkCarrierCode/"/>
          <action type="Rewrite" url="index.php?r=member/apiCheckCarrierCode"/>
        </rule>
        <rule name="FS Create Contact Us API Call" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="api/fireshield/v2/createContactUs/"/>
          <action type="Rewrite" url="index.php?r=fsContactUs/apiCreate"/>
        </rule>
        <rule name="FS User Login API call" patternSyntax="ExactMatch">
          <match url="api/fireshield/v2/login/"/>
          <action type="Rewrite" url="index.php?r=fsUser/apiLogin"/>
        </rule>
        <rule name="FS OAuth2 Auth Endpoint" patternSyntax="ExactMatch">
          <match url="api/fireshield/v2/auth/"/>
          <action type="Rewrite" url="index.php?r=oa2/auth"/>
        </rule>
        <rule name="FS OAuth2 Token Endpoint" patternSyntax="ExactMatch">
          <match url="api/fireshield/v2/token/"/>
          <action type="Rewrite" url="index.php?r=oa2/token"/>
        </rule>
        <rule name="FS Test OAuth2" patternSyntax="ExactMatch">
          <match url="api/fireshield/v2/testoauth2/"/>
          <action type="Rewrite" url="index.php?r=oa2/test"/>
        </rule>
        <rule name="FS Get Properties API Call" patternSyntax="ExactMatch">
          <match url="api/fireshield/v2/getProperties/"/>
          <action type="Rewrite" url="index.php?r=fsUser/apiGetProperties"/>
        </rule>
        <rule name="FS API upload assessment" patternSyntax="ExactMatch">
          <match url="api/fireshield/v2/uploadAssessment/"/>
          <action type="Rewrite" url="index.php?r=fsReport/apiUploadAssessment"/>
        </rule>
        <rule name="FS Get Assessments API call" patternSyntax="ExactMatch">
          <match url="api/fireshield/v2/getAssessments/"/>
          <action type="Rewrite" url="index.php?r=fsUser/apiGetAssessments"/>
        </rule>
        <rule name="FS Get Assessment Status API call" patternSyntax="ExactMatch">
          <match url="api/fireshield/v2/getAssessmentStatus/"/>
          <action type="Rewrite" url="index.php?r=fsReport/apiGetStatus"/>
        </rule>
        <rule name="FS Download Assessment" patternSyntax="ExactMatch">
          <match url="api/fireshield/v2/downloadAssessment/"/>
          <action type="Rewrite" url="index.php?r=fsReport/apiDownloadAssessment"/>
        </rule>
        <rule name="FS API new upload assessment" patternSyntax="ExactMatch">
          <match url="api/fireshield/v2/newUploadAssessment/"/>
          <action type="Rewrite" url="index.php?r=fsReport/apiNewUploadAssessment"/>
        </rule>
        <rule name="FS FAQ Page" patternSyntax="ExactMatch">
          <match url="fireshield/faq/"/>
          <action type="Rewrite" url="index.php?r=fsUser/faq" appendQueryString="false"/>
        </rule>
        <rule name="FS Reset Password" patternSyntax="ExactMatch">
          <match url="fireshield/reset-password/"/>
          <action type="Rewrite" url="index.php?r=fsUser/resetPassword"/>
        </rule>
        <rule name="FS Change Password" patternSyntax="ExactMatch">
          <match url="fireshield/change-password/"/>
          <action type="Rewrite" url="index.php?r=fsUser/changePassword"/>
        </rule>
        <rule name="FS Schedule Call" patternSyntax="ExactMatch">
          <match url="fireshield/schedule-appointment/"/>
          <action type="Rewrite" url="index.php?r=fsReport/scheduleCall"/>
        </rule>
        <rule name="FS Legal Page" patternSyntax="ExactMatch">
          <match url="fireshield/legal-disclaimer/"/>
          <action type="Rewrite" url="index.php?r=fsUser/legal"/>
        </rule>
        <rule name="FS Create Property API call" patternSyntax="ExactMatch">
          <match url="api/fireshield/v2/createProperty/"/>
          <action type="Rewrite" url="index.php?r=fsUser/apiCreateProperty"/>
        </rule>
        <!-- VSO rewrite rule -->
        <rule name="VS Auth Callback">
          <match url="site/tfsOAuth2Callback"/>
          <action type="Rewrite" url="index.php?r=site/tfsOAuth2Callback"/>
        </rule>
        <!-- Client Risk API rewrite rules -->
        <rule name="API GetWdsRiskWithCoordinates V1" patternSyntax="ExactMatch">
          <match url="api/getriskwithcoordinates/v1"/>
          <action type="Rewrite" url="index.php?r=api/getWdsRiskWithCoordinatesV1"/>
        </rule>
        <rule name="API GetWdsRiskWithAddress V1" patternSyntax="ExactMatch">
          <match url="api/getriskwithaddress/v1"/>
          <action type="Rewrite" url="index.php?r=api/getWdsRiskWithAddressV1"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="DetailedLocalOnly"/>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
